
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

sc-card .umbra,
sc-card .penumbra {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: visible;
    animation-duration: 1s;
}

sc-card .umbra {
    width: 270px;
    height: 390px;
    top: -5px;
    left: -5px;
    background: url(images/umbra.svg) center center no-repeat;
    transform: translateY(2px);
    opacity: 0.3;
}

sc-card .penumbra {
    width: 330px;
    height: 450px;
    top: -35px;
    left: -35px;
    background: url(images/penumbra.svg) center center no-repeat;
    transform: translateY(2px);
    opacity: 0;
}
sc-card {
    width: 260px;
    height: 380px;
    position: relative;
    perspective: 500px;
    will-change: transform;
}

.postcard__side{
    backface-visibility: hidden;
    background: lightblue;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 1s;
    overflow: hidden;
}

.postcard__side_front{}
.postcard__side_back{
    transform: rotateY(180deg);
}

.postcard_sideone .postcard__side_front{
    animation-name: sideone;
    transform: rotateY(180deg);
}
.postcard_sideone .postcard__side_back{
    animation-name: sidetwo;
    transform: rotateY(360deg);
}

.postcard_sidetwo .postcard__side_front{
    animation-name: sidetwo;
    transform: rotateY(360deg);
}
.postcard_sidetwo .postcard__side_back{
    animation-name: sideone;
    transform: rotateY(180deg);
}

.postcard_sideone .umbra{
    animation-name: umbra;
}
.postcard_sidetwo .umbra{
    animation-name: umbra;
}
.postcard_sideone .penumbra{
    animation-name: penumbra;
}
.postcard_sidetwo .penumbra{
    animation-name: penumbra;
}

@keyframes sideone{
    0% {
        transform: rotateY(0deg);
    }
    25% {
        transform: translateZ(-200px) rotateY(0deg) scale(1.4);
    }
    50% {
        transform: translateZ(-100px) rotateY(0deg) scale(1.4);
    }
    75% {
        transform: translateZ(-100px) rotateY(180deg) scale(1.4);
    }
    100% {
        transform: translateZ(-200px) rotateY(180deg) scale(1.4);
    }
}

@keyframes sidetwo{
    0% {
        transform: rotateY(180deg);
    }
    25% {
        transform: translateZ(-200px) rotateY(180deg) scale(1.4);
    }
    50% {
        transform: translateZ(-100px) rotateY(180deg) scale(1.4);
    }
    75% {
        transform: translateZ(-100px) rotateY(360deg) scale(1.4);
    }
    100% {
        transform: translateZ(-200px) rotateY(360deg) scale(1.4);
    }
}

@keyframes umbra{
    25% {
        opacity: .3;
        transform: translateY(2px) rotateY(0deg);
    }
    50% {
        opacity: 0;
        transform: translateY(62px) rotateY(0deg);
    }
    75% {
        opacity: 0;
        transform: translateY(62px) rotateY(180deg);
    }
    100% {
        opacity: 0.3;
        transform: translateY(2px) rotateY(180deg);
    }
}

@keyframes penumbra{
    25% {
        opacity: 0;
        transform: translateY(2px) rotateY(0deg);
    }
    50% {
        opacity: .5;
        transform: translateY(62px) rotateY(0deg);
    }
    75% {
        opacity: .5;
        transform: translateY(62px) rotateY(180deg);
    }
    100% {
        opacity: 0;
        transform: translateY(2px) rotateY(180deg);
    }
}