extends _layout.pug

block title
  title Postcard
  
block content
  div(class='postcard')
    div(class='postcard__umbra')
    div(class='postcard__penumbra')
    div(class='postcard__side postcard__side_back')
      form(action='/card/' method='post' name='card')
        label(class='return')
          textarea(name='senderAddress' required autocomplete='off')
        label(class='message')
          textarea(name='message' autocomplete='off')
        label(class='address')
            textarea( name='receiverAddress' required autocomplete='off')
    label(class='postcard__side postcard__side_front')
      canvas Alt
      input(type='file' multiple hidden)
  div(class="panel")
    span(class="button" hidden) back
    span(class="button" hidden) next